@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
	box-sizing: border-box;
}
//animations
//variables
$blue: #122d7c;
$yellow: #e5c926;

//public
html{
	body{
		font-family: 'Roboto', sans-serif, Arial;
		background-color: $blue;
		font-size: 14px;
		width: 100%;
		overflow-x: hidden;
		.body-wrap{
			transition: all 0.3s ease;
			width: 100%;
			padding-top: 47px;
			&.menu-open{
				transform: translateX(-270px);
			}
			.frame{
				width: 90%;
				margin: auto;
				@media screen and (min-width: 992px) {
					max-width: 960px;
					@media screen and (min-width: 1200px) {
						max-width: 1080px;
						@media screen and (min-width: 1440px){
							max-width: 1200px;
							@media screen and (min-width: 1600px) {
								max-width: 1400px;
							}
						}
					}
				}
			}
			header{
				position: relative;
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				nav{
					background-color: white;
					width: 100%;
					.frame{
						display: flex;
						justify-content: space-between;
						.logo{
							width: 150px;
							padding-top: 7px;
							svg{
								width: 100%;
								.cls-10,.cls-5,.cls-8{
									@media screen and (min-width: 992px) {
										fill: white;
									}
								}
								.cls-7{
									@media screen and (min-width: 992px) {
										stroke: white;
									}
								}
							}
							@media screen and (min-width: 768px) {
								width: 200px;
								padding-top: 10px;
							}
						}
						.nav-right{
							display: flex;
							align-items: center;
							button{
								border: 0;
								background: none;
								i{
									font-size: 24px;
								}
							}
							.social{
								margin-right: 5px;
								.icon-heart-solid{
									display: none;
								}
								&.active{
									.icon-heart{
										display: none;
									}
									.icon-heart-solid{
										display: block;
									}
								}
								@media screen and (min-width: 992px) {
									display: none;
								}
							}//social
							.hamburger{
								.icon-close{
									display: none;
								}
								&.active{
									.icon-bars{
										display: none;
									}
									.icon-close{
										display: block;
									}
								}
								@media screen and (min-width: 992px) {
									display: none;
								}
							}//hmaburger
							.mobile-social-menu{
								position: fixed;
								top: 55px;
								display: none;
								ul{
									li{
										a{
											width: 50px;
											height: 50px;
											color: $blue;
											background-color: white;
											display: flex;
											justify-content: center;
											align-items: center;
											border: 5px solid $yellow;
											margin-bottom: 5px;
											.social-icon{
												font-size: 22px;
												svg{
													width: 25px;
													circle{
														fill: $blue;
													}
												}
											}
										}
									}
								}
								&.active{
									display: block;
									@media screen and (min-width: 992px){
										display: none;
									}
								}
								@media screen and (min-width: 992px) {
									display: none;
								}
							}//.mobile-social-menu
							.desktop-social-menu{
								display: none;
								ul{
									display: flex;
									li{
										a{
											color: $yellow;
											width: 35px;
											height: 35px;
											display: flex;
											justify-content: center;
											align-items: center;
											border: 2px solid $yellow;
											margin: 5px;
											.social-icon{
												font-size: 18px;
												svg{
													width: 22px;
												}
											}
										}
									}
								}
								@media screen and (min-width: 992px) {
									display: block;
								}
							}
						}//nav-right
					}//frame
					@media screen and (min-width: 992px) {
						background-color: $blue;
					}
				}//nav
				.menu-bar{
					display: none;
					background-color: white;
					.frame{
						ul{
							display: flex;
							justify-content: space-around;
							li{
								a{
									font-weight: 900;
									color: $blue;
									font-size: 18px;
									padding: 10px 15px;
									display: block;
									position: relative;
									&.current-page{
										&:after{
											content: '';
											width: 100%;
											height: 7px;
											bottom: 0;
											left: 0;
											background-color: $yellow;
											position: absolute;
										}
									}
								}
							}
						}
					}
					@media screen and (min-width: 992px) {
						display: block;
					}
				}//menu-bar
			}//header
			footer{
				background-color: $yellow;
				font-size: 12px;
				color: #474747;
				padding: 20px 0;
				.frame{
					text-align: center;
					.impression-wrap{
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 25px;
						.impression-text{
							color: $blue;
							font-size: 20px;
							font-weight: 700;
							margin-right: 10px;
						}
						.impression-logo{
							img{
								width: 150px;
							}
						}
					}
					.copy-right{
						margin-top: 25px;
					}
				}
			}//footer
			.mobile-menu{
				background-color: white;
				width: 270px;
				height: 100vh;
				position: fixed;
				right: -270px;
				top: 0;
				transition: all 0.3s ease;
				padding: 40px;
				overflow: scroll;
				ul{
					li{
						a{
							display: block;
							width: 100%;
							color: $blue;
							font-weight: 900;
							font-size: 24px;
							//text-align: center;
							padding: 10px 0;
							position: relative;
							&:hover{
								color: $yellow;
							}
							&.current-page{
								color: $yellow;
							}
						}
					}
				}
			}//mobile-menu
			@media screen and (min-width: 768px){
				padding-top: 64px;
				@media screen and (min-width: 992px) {
					padding-top: 104px;		
				}
			}
		}//body-wrap
	}//body
}//html

#page_homepage{

}