@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
	box-sizing: border-box;
}
//animations
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

//variables
$blue: #122d7c;
$yellow: #e5c926;

//public
html{
	body{
		font-family: 'Roboto', sans-serif, Arial;
		background-color: $blue;
		font-size: 14px;
		width: 100%;
		overflow-x: hidden;
		color: white;
		&.popup-show{
			height: 100%;
			overflow: hidden;
		}
		header{
			position: relative;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 1234;
			transition: all 0.3s ease;
			nav{
				background-color: white;
				width: 100%;
				.frame{
					display: flex;
					justify-content: space-between;
					.logo{
						width: 150px;
						padding-top: 7px;
						svg{
							width: 100%;
							.cls-10,.cls-5,.cls-8{
								@media screen and (min-width: 992px) {
									fill: white;
								}
							}
							.cls-7{
								@media screen and (min-width: 992px) {
									stroke: white;
								}
							}
						}
						@media screen and (min-width: 768px) {
							width: 200px;
							padding-top: 10px;
							@media screen and (min-width: 1200px){
								width: 250px;
								@media screen and (min-width: 1400px) {
									width: 280px;
									padding-top: 14px;
								}
							}
						}
					}
					.nav-right{
						display: flex;
						align-items: center;
						button{
							border: 0;
							background: none;
							i{
								font-size: 24px;
							}
						}
						.social{
							margin-right: 5px;
							.icon-heart-solid{
								display: none;
							}
							&.active{
								.icon-heart{
									display: none;
								}
								.icon-heart-solid{
									display: block;
								}
							}
							@media screen and (min-width: 992px) {
								display: none;
							}
						}//social
						.hamburger{
							.icon-close{
								display: none;
							}
							&.active{
								.icon-bars{
									display: none;
								}
								.icon-close{
									display: block;
								}
							}
							@media screen and (min-width: 992px) {
								display: none;
							}
						}//hmaburger
						.mobile-social-menu{
							position: fixed;
							top: 55px;
							display: none;
							ul{
								li{
									a{
										width: 50px;
										height: 50px;
										color: $blue;
										background-color: white;
										display: flex;
										justify-content: center;
										align-items: center;
										border: 5px solid $yellow;
										margin-bottom: 5px;
										.social-icon{
											font-size: 22px;
											svg{
												width: 25px;
												circle{
													fill: $blue;
												}
											}
										}
									}
								}
							}
							&.active{
								display: block;
								@media screen and (min-width: 992px){
									display: none;
								}
							}
							@media screen and (min-width: 992px) {
								display: none;
							}
						}//.mobile-social-menu
						.desktop-social-menu{
							display: none;
							ul{
								display: flex;
								li{
									a{
										color: $yellow;
										width: 35px;
										height: 35px;
										display: flex;
										justify-content: center;
										align-items: center;
										border: 2px solid $yellow;
										margin: 5px;
										.social-icon{
											font-size: 18px;
											svg{
												width: 22px;
											}
										}
										&:hover{
											background-color: $yellow;
											color: $blue;
											.social-icon{
												svg{
													circle{
														fill: $blue;
													}
												}
											}
										}
										@media screen and (min-width: 1400px){
											width: 40px;
											height: 40px;
											border-width: 3px;
										}
									}//a
								}//li
							}//ul
							@media screen and (min-width: 992px) {
								display: block;
							}
						}//desktop-social-menu
					}//nav-right
				}//frame
				@media screen and (min-width: 992px) {
					background-color: $blue;
				}
			}//nav
			.menu-bar{
				display: none;
				background-color: white;
				.frame{
					ul{
						display: flex;
						justify-content: space-around;
						li{
							a{
								font-weight: 900;
								color: $blue;
								font-size: 18px;
								padding: 10px 15px;
								display: block;
								position: relative;
								&:after{
									content: '';
									width: 0%;
									height: 7px;
									bottom: 0;
									left: 0;
									background-color: $yellow;
									position: absolute;
									transition: all 0.3s ease;
								}
								&:hover{
									&:after{
										content: '';
										width: 100%;
									}
								}
								&.current-page{
									&:after{
										width: 100%;
									}
								}
								@media screen and (min-width: 1200px){
									font-size: 20px;
									@media screen and (min-width: 1400px){
										font-size: 24px;
									}
								}
							}//a
						}//li
					}//ul
				}
				@media screen and (min-width: 992px) {
					display: block;
				}
			}//menu-bar
			&.menu-open{
				left: -270px;
			}
		}//header
		.mobile-menu{
			background-color: white;
			width: 270px;
			height: 100vh;
			position: fixed;
			right: -270px;
			top: 0;
			transition: all 0.3s ease;
			padding: 40px;
			overflow: scroll;
			ul{
				li{
					a{
						display: block;
						width: 100%;
						color: $blue;
						font-weight: 900;
						font-size: 24px;
						//text-align: center;
						padding: 10px 0;
						position: relative;
						&:hover{
							color: $yellow;
						}
						&.current-page{
							color: $yellow;
						}
					}
				}
			}
			&.menu-open{
				right: 0;
			}
		}//mobile-menu
		.frame{
			width: 90%;
			margin: auto;
			@media screen and (min-width: 992px) {
				max-width: 960px;
				@media screen and (min-width: 1200px) {
					max-width: 1080px;
					@media screen and (min-width: 1400px){
						max-width: 1200px;
						@media screen and (min-width: 1600px) {
							max-width: 1400px;
						}
					}
				}
			}
		}
		.body-wrap{
			transition: all 0.3s ease;
			width: 100%;
			padding-top: 47px;
			&.menu-open{
				transform: translateX(-270px);
			}
			footer{
				background-color: $yellow;
				font-size: 12px;
				color: #474747;
				padding: 20px 0;
				.frame{
					text-align: center;
					.impression-wrap{
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 25px;
						.impression-text{
							color: $blue;
							font-size: 20px;
							font-weight: 700;
							margin-right: 10px;
						}
						.impression-logo{
							img{
								width: 150px;
							}
						}
					}
					.copy-right{
						margin-top: 25px;
					}
				}
				@media screen and (min-width: 992px) {
					padding: 30px 0;
				}
			}//footer
			@media screen and (min-width: 768px){
				padding-top: 64px;
				@media screen and (min-width: 992px) {
					padding-top: 104px;
					@media screen and (min-width: 1200px) {
						padding-top: 120px;
						@media screen and (min-width: 1400px) {
							padding-top: 137px;
						}
					}		
				}
			}
		}//body-wrap
		@media screen and (min-width: 992px) {
			font-size: 16px;
			@media screen and (min-width: 1400px) {
				font-size: 18px;
			}
		}
	}//body
}//html

#page_homepage{
	.banner{
		padding: 20px 0;
		.frame{
			ul.slick-slider{
				li.slick-slide{
					height: auto;
					img{
						width: 100%;
					}
				}
				ul.slick-dots{
					bottom: -20px;
					>li{
						position: relative;
						width: 10px;
						height: 10px;
						margin: 0 10px;
						button{
							border: 2px solid white;
							width: 10px;
							height: 10px;
							&:before{
								display: none;
							}
							@media screen and (min-width: 1200px){
								border-width: 4px;
							}
						}
						&.slick-active{
							button{
								background-color: white;
								&:before{
									display: none;
								}
							}
						}
						@media screen and (min-width: 1600px){
							margin: 0 12px;
						}
					}//>li
					@media screen and (min-width: 768px){
						bottom: -30px;
						@media screen and (min-width: 1600px) {
							bottom: -42px;
						}
					}
				}//slick-dots
				button.slick-arrow{
					border: 3px solid white;
					width: 30px;
					height: 30px;
					z-index: 100;
					&:before{
						font-size: 15px;
						@media screen and (min-width: 1200px){
							font-size: 18px;
							@media screen and (min-width: 1400px){
								font-size: 35px;
							}
						}
					}
					&.slick-next{
						right: -40px;
						@media screen and (min-width: 1200px){
							right: -55px;
							@media screen and (min-width: 1400px){
								right: -90px;
							}
						}
					}
					&.slick-prev{
						left: -40px;
						@media screen and (min-width: 1200px){
							left: -55px;
							@media screen and (min-width: 1400px) {
								left: -90px;
							}
						}
					}
					&:hover{
						background-color: white;
						&:before{
							color: $blue;
						}
					}
					@media screen and (min-width: 1200px) {
						width: 40px;
						height: 40px;
						border: 4px solid white;
						@media screen and (min-width: 1400px){
							width: 60px;
							height: 60px;
							border-width: 5px;
						}
					}
				}//slick-arrow
			}
		}
		@media screen and (min-width: 992px){
			padding: 40px 0;
			@media screen and (min-width: 1600px) {
				padding: 60px 0;
			}
		}
	}//banner
	.trailer{
		.frame{
			.title{
				color: white;
				text-transform: uppercase;
				font-weight: 900;
				font-size: 32px;
				padding-left: 23px;
				position: relative;
				span{
					color: $yellow;
				}
				&:before{
					content: '';
					height: 90%;
					top: 5%;
					left: 0;
					width: 13px;
					background-color: white;
					position: absolute;
					@media screen and (min-width: 768px){
						width: 20px;
						@media screen and (min-width: 992px){
							height: 96%;
							top: 2%;
							@media screen and (min-width: 1200px){
								width: 25px;
							}
						}
					}
				}
				@media screen and (min-width: 768px) {
					font-size: 42px;
					padding-left: 38px;
					@media screen and (min-width: 992px) {
						font-size: 50px;
						width: 280px;
						@media screen and (min-width: 1200px){
							font-size: 64px;
							padding-left: 45px;
							width: 360px;
							@media screen and (min-width: 1600px){
								font-size: 82px;
								width: 445px;
							}
						}
					}
				}
			}//title
			.video{
				margin-top: 20px;
				height: 50vw;
				flex: 1;
				display: flex;
				align-items: center;
				@media screen and (min-width: 992px) {
					margin-top: 0;
					height: 33vw;
					max-height: 340px;
					padding: 1% 0px;
					@media screen and (min-width: 1200px){
						height: 36vw;
						max-height: 440px;
						@media screen and (min-width: 1600px) {
							max-height: 575px;
						}
					}
				}
			}
			@media screen and (min-width: 992px) {
				display: flex
			}
		}//frame
		@media screen and (min-width: 768px){
			padding: 20px 0;
			@media screen and (min-width: 1400px) {
				padding: 40px 0;
				@media screen and (min-width: 1600px) {
					padding: 60px 0;
				}
			}
		}
	}//trailer
	.tickets-events{
		padding: 40px 0;
		.frame{
			.square{
				border: 10px solid white;
				padding: 20px;
				display: block;
				color: white;
				height: 90vw;
				margin-top: 20px;
				position: relative;
				.title{
					text-transform: uppercase;
					font-size: 32px;
					@media screen and (min-width: 768px){
						font-size: 42px;
						@media screen and (min-width: 1200px){
							font-size: 54px;
							@media screen and (min-width: 1400px){
								font-size: 64px;
								@media screen and (min-width: 1600px){
									font-size: 82px;
								}
							}
						}
					}
				}
				p.slogan{
					font-weight: 700;
					margin-top: 20px;
					font-size: 20px;
					@media screen and (min-width: 1400px){
						font-size: 28px;
						@media screen and (min-width: 1600px){
							font-size: 38px;
							margin-top: 30px;
						}
					}		
				}
				p.text{
					margin-top: 20px;
					@media screen and (min-width: 1600px){
						font-size: 24px;
						margin-top: 30px;
					}
				}
				svg{
					position: absolute;
					right: 20px;
					bottom: 25px;
					width: 50px;
					@media screen and (min-width: 1200px) {
						right: 28px;
						bottom: 32px;
						@media screen and (min-width: 1400px){
							width: 75px;
							@media screen and (min-width: 1600px){
								width: 100px;
								right: 35px;
								bottom: 40px;
							}
						}
					}
				}
				&:hover{
					background-color: white;
					color: $blue;
					svg{
						.cls-1, .cls-2{
							stroke: $blue;
						}
					}
				}
				@media screen and (min-width: 768px){
					height: 47vw;
					border-width: 15px;
					@media screen and (min-width: 992px){
						width: calc(50% - 20px);
						height: 35vw;
						max-height: 380px;
						@media screen and (min-width: 1400px){
							border-width: 15px;
							max-height: 445px;
							@media screen and (min-width: 1600px) {
								border-width: 20px;
								padding: 30px;
								max-height: 560px;
							}
						}
					}
				}
			}//square
			@media screen and (min-width: 992px) {
				display: flex;
				justify-content: space-between;
			}
		}//frame
	}//tickets-events
	.contact{
		padding: 10px 0 50px 0;
		.frame{
			text-align: center;
			.text{
				font-weight: 900;
				color: white;
				font-size: 6vw;
				@media screen and (min-width: 992px){
					text-align: left;
					font-size: 44px;
					@media screen and (min-width: 1200px) {
						font-size: 54px;
						@media screen and (min-width: 1600px) {
							font-size: 68px;
						}
					}
				}
			}
			.button{
				display: block;
				background-color: white;
				padding: 30px 20px;
				border: 10px solid $yellow;
				color: $blue;
				margin: auto;
				margin-top: 15px;
				width: 288px;
				i{
					font-size: 48px;
					margin-bottom: 20px;
					@media screen and (min-width: 992px){
						font-size: 60px;
						@media screen and (min-width: 1400px){
							font-size: 72px;
							@media screen and (min-width: 1600px){
								font-size: 90px;
							}
						}
					}
				}
				span{
					font-weight: 700;
					@media screen and (min-width: 1600px){
						font-size: 22px;
					}
				}
				&:hover{
					i{
						animation: tada 1s infinite;
					}
				}
				@media screen and (min-width: 992px){
					width: 315px;
					border-width: 15px;
					margin: 0;
					@media screen and (min-width: 1400px){
						width: 380px;
						padding: 40px 20px;
						@media screen and (min-width: 1600px){
							width: 440px;
							border-width: 20px;
						}
					}
				}
			}//button
			@media screen and (min-width: 992px) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}//frame
		@media screen and (min-width: 992px) {
			padding: 50px 0 90px 0;
			@media screen and (min-width: 1400px) {
				padding: 80px 0 130px 0;
				@media screen and (min-width: 1600px) {
					padding: 100px 0 160px 0;
				}
			}
		}
	}//contact
}//#page_homepage

#page_programme{
	position: relative;
	.popup{
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1235;
		background-color: rgba(0,0,0,0.8);
		display: flex;
		justify-content: center;
		align-items: center;
		display: none;
		.close-btn{
			background-color: $yellow;
			color: white;
			padding: 0;
			border: 0;
			width: 35px;
			height: 35px;
			font-size: 26px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 5%;
			top: 2.5%;
			z-index: 1236;
			cursor: pointer;
			i{
				transition: all 0.3s ease;
			}
			&:hover{
				i{
					transform: rotate(90deg);
				}
			}
			@media screen and (min-width: 768px) {
				@media screen and (min-width: 992px){
					right: calc((100% - 965px)/2);
					top: calc((100% - 545px)/2);
					@media screen and (min-width: 1200px){
						width: 45px;
						height: 45px;
						font-size: 34px;
						@media screen and (min-width: 1400px){
							right: calc((100% - 1140px)/2);
							top: calc((100% - 685px)/2);
						}
					}
				}	
			}	
				
		}
		.popup-content{
			background-color: white;
			width: 90%;
			height: 95%;
			border: 10px solid $yellow;
			overflow-y: scroll;
			position: relative;
			.content-wrap{
				width: 100%;
				height: 100%;
				.content{
					color: black;
					padding: 20px;
					padding-bottom: 40px;
					.content-title{
						color: $yellow;
						text-transform: uppercase;
						font-weight: 900;
						font-size: 28px;
						@media screen and (min-width: 992px){
							font-size: 38px;
						}
					}
					@media screen and (min-width: 992px) {
						overflow-y: scroll;
					}
				}//content
				.movie{
					border-bottom: 1px solid $yellow;
					.movie-name{
						font-size: 16px;
						margin-top: 10px;
						@media screen and (min-width: 992px){
							font-size: 20px;
						}
					}
					.info{
						margin-top: 20px;
					}
					.tag-wrap{
						margin-top: 5px;
						.tag{
							color: $yellow;
						}
					}
					.intro{
						margin-top: 20px;
						p{
							margin-bottom: 10px;
						}
					}
					@media screen and (min-width: 992px){
						border-bottom: none;
						border-right: 1px solid $yellow;
						padding-right: 40px;
						flex: 1;
					}
				}//movie
				.director{
					.director-img{
						width: 200px;
						height: 200px;
						margin-top: 10px;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.director-name{
						font-weight: 700;
						margin-top: 15px;
					}
					.director-intro{
						margin-top: 10px;
					}
					.button-wrap{
						margin-top: 30px;
						.interview-btn{
							font-weight: 900;
							background-color: white;
							border: 1px solid black;
							color: black;
							padding: 5px 10px;
							&:hover{
								background-color: black;
								color: white;
							}
						}
					}
					@media screen and (min-width: 992px){
						width: 350px;
						@media screen and (min-width: 1400px){
							width: 380px;
						}
					}
				}//director
				&#intro_taromak_eco_ogy{
					.director{
						.director-img{
							width: 100%;
						}
					}
				}
				@media screen and (min-width: 992px) {
					display: flex;
				}
			}//content-wrap
			@media screen and (min-width: 992px) {
				width: 965px;
				height: 545px;
				overflow: hidden;
				@media screen and (min-width: 1200px) {
					border-width: 15px;
					@media screen and (min-width: 1400px) {
						width: 1140px;
						height: 685px;
					}
				}
			}
		}//popup-content
	}
	.sub-menu{
		position: fixed;
		width: 100%;
		background-color: $blue;
		z-index: 1230;
		ul{
			display: flex;
			padding: 20px 0;
			overflow-x: scroll;
			li{
				flex: none;
				margin-right: 20px;
				a{
					color: white;
					position: relative;
					padding-left: 20px;
					&:before{
						content: '';
						width: 12px;
						height: 12px;
						background-color: white;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
					&:hover{
						color: $yellow;
						&:before{
							background-color: $yellow;
						}
					}
				}
				@media screen and (min-width: 992px) {
					margin-right: 30px;
					@media screen and (min-width: 1200px){
						margin-right: 48px;
					}
				}
			}//li
			@media screen and (min-width: 768px) {
				justify-content: center;
				overflow: hidden;	
			}
		}//ul
	}//sub-menu
	.category{
		padding-top: 110px;
		margin-top: -90px;
		position: relative;
		.frame{
			.category-text{
				color: white;
				padding-left: 30px;
				position: relative;
				width: 100%;
				.name{
					color: white;
					text-transform: uppercase;
					font-weight: 900;
					font-size: 26px;
					@media screen and (min-width: 992px){
						font-size: 38px;
						@media screen and (min-width: 1400px) {
							font-size: 54px;
						}
					}
				}
				.intro{
					margin-top: 15px;
					line-height: 1.3em;
					@media screen and (min-width: 992px){
						margin-top: 25px;
					}
				}
				&:before{
					content: '';
					background-color: white;
					position: absolute;
					height: 98%;
					top: 1%;
					left: 0;
					width: 15px;
					@media screen and (min-width: 992px) {
						width: 25px;
						@media screen and (min-width: 1400px){
							top: 2%;
						}
					}
				}
				@media screen and (min-width: 992px){
					padding-left: 46px;
					padding-right: 40px;
				}
			}//category-text
			.movie{
				margin-top: 20px;
				.video{
					width: 100%;
					height: 50vw;
					@media screen and (min-width: 992px) {
						height: 24vw;
						max-height: 260px;
						@media screen and (min-width: 1200px){
							max-height: 298px;
							@media screen and (min-width: 1400px){
								max-height: 326px;
								@media screen and (min-width: 1600px){
									max-height: 385px;
								}
							}
						}
					}
				}//video
				.name{
					margin-top: 10px;
					font-size: 18px;
					font-weight: 900;
					*{
						line-height: 1.5em;
					}
					@media screen and (min-width: 1400px){
						font-size: 22px;
					}
				}//name
				.info{
					margin-top: 15px;
					@media screen and (min-width: 992px){
						margin-top: 25px;
					}
				}
				.tag-wrap{
					margin-top: 5px;
					.tag{
						color: $yellow;
					}
				}
				.button-wrap{
					margin-top: 10px;
					padding: 10px 0;
					.button{
						color: white;
						padding: 10px 20px;
						border: 1px solid white;
						font-weight: 900;
						background-color: $blue;
						cursor: pointer;
						font-size: 14px;
						i{
							margin-left: 3px;
						}
						&:hover{
							background-color: white;
							color: $blue;
						}
						@media screen and (min-width: 992px){
							font-size: 16px;
							@media screen and (min-width: 1400px){
								font-size: 18px;
							}
						}
					}//button
					@media screen and (min-width: 992px){
						margin-top: 20px;
					}
				}//button-wrap
				&:nth-child(even){
					@media screen and (min-width: 992px){
						padding-right: 10px;
						@media screen and (min-width: 1400px){
							padding-right: 20px;
						}
					}
				}
				&:nth-child(odd){
					@media screen and (min-width: 992px){
						padding-left: 10px;
						@media screen and (min-width: 1400px){
							padding-left: 20px;
						}
					}
				}
				@media screen and (min-width: 992px) {
					width: 50%;
					margin-top: 50px;
				}
			}//movie
			@media screen and (min-width: 992px) {
				display: flex;
				flex-wrap: wrap;
			}
		}//frame
		@media screen and (min-width: 768px) {
			padding-top: 160px;
			@media screen and (min-width: 992px) {
				padding-top: 180px;
				margin-top: -50px;
				@media screen and (min-width: 1400px) {
					padding-top: 215px;
				}
			}
		}
	}//category
	#opening_film{
		padding-top: 156px;
		z-index: 6;
		.frame{
			.category-text{
				&:before{
					@media screen and (min-width: 992px){
						height: 265px;
						@media screen and (min-width: 1200px){
							height: 245px;
							@media screen and (min-width: 1400px){
								height: 305px;
								@media screen and (min-width: 1600px){
									height: 277px;
								}
							}
						}
					}
				}
				@media screen and (min-width: 992px){
					width: 50%;
				}
			}
			.movie{
				@media screen and (min-width: 992px) {
					margin-top: 0;
					padding: 0;
				}
			}
		}
		@media screen and (min-width: 768px) {
			padding-top: 175px;
			@media screen and (min-width: 1400px) {
				padding-top: 230px;
				margin-top: -137px;
			}
		}
	}
	#human_rights{
		z-index: 5;
	}
	#artists{
		z-index: 4;
	}
	#explorer{
		z-index: 3;
	}
	#short_film{
		z-index: 2;
	}
	#closing_film{
		z-index: 1;
		padding-bottom: 60px;
		.movie:last-child{
			.video{
				background-image: url('../../library/assets/closing_film.jpg');
				background-size: cover;
			}
		}
		@media screen and (min-width: 1200px) {
			padding-bottom: 100px;
			@media screen and (min-width: 1400px){
				padding-bottom: 150px;
			}
		}
	}
}//#page_programme

#page_schedule{
	.body-wrap{
		.rotate-hint{
			width: 100%;
			height: 100vh;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 1233;
			background-color: $blue;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
			.hint{
				.hint-img{
					display: block;
					width: 150px;
					margin: auto;
				}
				.hint-text{
					text-align: center;
					font-weight: 900;
					font-size: 24px;
					margin-top: 20px;
				}
			}
			@media screen and (min-width: 568px) {
				display: none;
			}
		}//rotate-hint
		.frame{
			.month{
				font-weight: 700;
				font-size: 32px;
				text-align: center;
				padding: 20px 0 20px 0;
				@media screen and (min-width: 768px) {
					padding: 40px 0;
					margin-top: 12px;
				}
			}
			.calender{
				padding-bottom: 40px;
				ul{
					li{
						width: 100%;
						&.date{
							ul.number-wrap{
								display: flex;
								justify-content: space-around;
								li{
									text-align: center;
								}
							}
						}//date
						&.row{
							background-color: rgba(255,255,255,0.2);
							height: 5vw;
							margin: 2vw 0;
							position: relative;
							max-height: 55px;
							.period{
								position: relative;
								.block{
									width: 5vw;
									height: 100%;
									background-color: #f098b1;
								}
								.text{
									font-weight: 900;
									position: absolute;
									left: calc(5vw + 10px);
									top: 50%;
									transform: translateY(-50%);
									@media screen and (min-width: 992px){
										left: 75px;
									}
								}
							}
							@media screen and (min-width: 1200px){
								margin: 22px 0;
							}
						}//row
						&.prescreening{
							.period{
								.block{
									max-width: 55px;
								}
							}
						}
						&.opening{
							padding-left: 34%;
							.period{
								.block{
									background-color: #e5c926;
									max-width: 55px;
								}
								.text{

								}
							}
						}//opening
						&.film-first{
							padding-left: 34%;
							.period{
								.block{
									background-color: #2094a5;
									width: 35vw;
									@media screen and (min-width: 992px) {
										max-width: 375px;
										@media screen and (min-width: 1200px) {
											max-width: 415px;
											@media screen and (min-width: 1400px) {
												max-width: 460px;
												@media screen and (min-width: 1600px) {
													max-width: 540px;
												}
											}
										}
									}
								}
								.text{
									left: 10px;
									@media screen and (min-width: 992px){
										left: 20px;
									}
								}
							}
						}//film-first
						&.film-second{
							padding-left: 51%;
							.period{
								.block{
									background-color: #e14c12;
									width: 35vw;
									@media screen and (min-width: 992px) {
										max-width: 375px;
										@media screen and (min-width: 1200px) {
											max-width: 415px;
											@media screen and (min-width: 1400px) {
												max-width: 460px;
												@media screen and (min-width: 1600px) {
													max-width: 540px;
												}
											}
										}
									}
								}
								.text{
									left: 10px;
									@media screen and (min-width: 992px){
										left: 20px;
									}
								}
							}
						}//film-second
					}//li
				}//ul
				.label-wrap{
					.label{
						display: flex;
						margin-top: 20px;
						.block{
							width: 5vw;
							height: 5vw;
							background-color: #f098b1;
							max-width: 55px;
							max-height: 55px;
						}
						.text{
							font-weight: 900;
							margin-left: 10px;
							line-height: 1.3em;
							@media screen and (min-width: 992px){
								margin-left: 15px;
							}
						}
						&:nth-child(1){
							align-items: center;
						}
						&:nth-child(2){
							align-items: center;
							.block{
								background-color: #e5c926;
							}
						}
						&:nth-child(3){
							.block{
								background-color: #2094a5;
							}
						}
						&:nth-child(4){
							.block{
								background-color: #e14c12;
							}
						}
						@media screen and (min-width: 768px) {
							margin-top: 40px;
							@media screen and (min-width: 992px){
								width: 50%;
							}
						}
					}//label
					@media screen and (min-width: 768px) {
						margin-top: 50px;
						@media screen and (min-width: 992px) {
							display: flex;
							flex-wrap: wrap;
						}
					}
				}//label-wrap
				@media screen and (min-width: 992px){
					padding-bottom: 80px;
					@media screen and (min-width: 1200px) {
						margin-top: 20px;
					}
				}
			}//calender
		}//frame
	}//body-wrap
}//#page_schedule

#page_tickets{
	.frame{	
		.title-wrap{
			padding: 40px 0 20px 0;
			.title{
				text-transform: uppercase;
				text-align: center;
				font-size: 6vw;
				@media screen and (min-width: 768px) {
					font-size: 34px;
					@media screen and (min-width: 1200px) {
						font-size: 48px;
					}
				}
			}
			.faq-title{
				text-align: left;
				font-weight: 900;
			}
			@media screen and (min-width: 768px){
				padding: 60px 0 20px 0;
				@media screen and (min-width: 1200px) {
					padding: 80px 0 20px 0;
				}
			}
		}
		.ticket-btn{
			display: block;
			color: $blue;
			background-color: white;
			text-align: center;
			padding: 30px 20px;
			border: 10px solid $yellow;
			max-width: 288px;
			margin: auto;
			.icon{
				display: block;
				font-size: 48px;
				i{
					transform: rotate(-45deg);
				}
			}
			.text{
				display: block;
				font-weight: 900;
				font-size: 20px;
				margin-top: 20px;
			}
			&:hover{
				.icon{
					animation: tada 1s infinite;
				}
			}
			@media screen and (min-width: 768px){
				margin-top: 20px;
				@media screen and (min-width: 1200px){
					border-width: 15px;
					margin-top: 40px;
				}
			}
		}//ticket-btn
		.price{
			.ticket-type{
				padding-left: 10px;
				border-left: 15px solid white;
				margin-top: 30px;
				.ticket-title{
					font-weight: 900;
					font-size: 18px;
					@media screen and (min-width: 992px) {
						font-size: 24px;
					}
				}
				.info{
					margin-top: 5px;
					@media screen and (min-width: 768px) {
						margin-top: 10px;
						@media screen and (min-width: 1200px){
							margin-top: 20px;
						}
					}
				}
				@media screen and (min-width: 768px){
					width: 50%;
					@media screen and (min-width: 1200px){
						border-width: 25px;
						padding-left: 15px;
					}
				}
			}
			.early-bird{
				@media screen and (min-width: 768px){
					padding-right: 20px;
					@media screen and (min-width: 1600px){
						padding-right: 50px;
					}
				}
			}
			@media screen and (min-width: 768px){
				display: flex;
				margin-top: 20px;
				@media screen and (min-width: 1200px){
					margin-top: 40px;
				}
			}
		}//price
		.notice{
			border: 5px solid white;
			padding: 20px;
			margin-top: 30px;
			ul{
				padding-left: 20px;
				li{
					padding: 5px 0;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						width: 10px;
						height: 10px;
						background-color: white;
						left: -18px;
						transform: translateY(3px);
						@media screen and (min-width: 1200px){
							left: -24px;
						}
					}
				}
				@media screen and (min-width: 1200px){
					padding-left: 25px;
				}
			}//ul
			p.keep-in-mind{
				font-weight: 900;
				margin: 20px 0 10px 0;
				font-size: 16px;
			}
			@media screen and (min-width: 768px){
				margin-top: 50px;
				@media screen and (min-width: 1200px){
					padding: 40px 30px;
					border-width: 8px;
					margin-top: 70px;
				}
			}
		}//notice
		.important{
			display: flex;
			flex-direction: column-reverse;
			margin-top: 20px;
			.img{
				padding: 5px 20px;
				background-color: white;
				width: 315px;
				margin-top: 20px;
				img{
					width: 100%;
				}
				@media screen and (min-width: 768px){
					margin-top: 0;
					flex: none;
				}
			}
			.text{
				h2{
					color: $yellow;
					text-transform: uppercase;
				}
				p{
					margin-top: 10px;
				}
				@media screen and (min-width: 768px){
					margin-left: 20px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					@media screen and (min-width: 1200px){
						margin-left: 30px;
					}
				}
			}
			@media screen and (min-width: 768px){
				flex-direction: row;
				margin: 0;
				padding: 60px 0 60px 0;
			}
		}//important
		.faq{
			ul{
				li{
					display: flex;
					border: 3px solid white;
					padding: 10px;
					margin-bottom: 10px;
					cursor: pointer;
					font-size: 16px;
					&:hover{
						background-color: white;
						color: $blue;
					}
					.mark{
						width: 25px;
						flex: none;
						i.fa-minus{
							display: none;
						}
						@media screen and (min-width: 1200px){
							width: 35px;
						}
					}
					.text{
						.question{
							font-weight: 700;
						}
						.answer{
							display: none;
							margin-top: 10px;
						}
					}
					@media screen and (min-width: 1200px) {
						font-size: 20px;
						padding: 20px;
						border-width: 5px;
					}
				}//li
				li.display{
					color: $blue;
					background-color: white;
					i.fa-plus{
						display: none;
					}
					i.fa-minus{
						display: block;
					}
					.text{
						.answer{
							display: block;
						}
					}
				}
			}
		}//faq
		.contact{
			padding-bottom: 60px;
			p{
				font-weight: 700;
				line-height: 2em;
				font-size: 18px;
				a{
					color: white;
					font-size: 26px;
					margin-left: 10px;
					&:hover{
						color: $yellow;
					}
					i{
						position: relative;
						&:before{
							position: absolute;
						    top: 50%;
						    transform: translateY(-70%);
						}
					}
				}
				@media screen and (min-width: 1200px){
					font-size: 20px;
				}
			}
			@media screen and (min-width: 1200px){
				padding-bottom: 110px;
			}
		}//contact
	}//frame
}//#page_tickets

#page_events{
	.event-overview{
		padding: 40px 0;
		.frame{
			.event{
				border: 5px solid white;
				margin-bottom: 20px;
				cursor: pointer;
				.event-text{
					padding: 10px;
					height: 315px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.event-name{
						font-size: 22px;
						padding-top: 5px;
						line-height: 1.3em;
						@media screen and (min-width: 1600px) {
							font-size: 24px;
						}
					}
					.event-info{
						text-align: right;
						.arrow{
							width: 62px;
						}
						.date{
							font-size: 32px;
							font-weight: 700;
							margin-top: 30px;
						}
						.place{
							margin-top: 15px;
						}
					}
					@media screen and (min-width: 1600px){
						height: 330px;
					}
				}//event-text
				.event-img{
					margin: 10px;
					width: calc(100% - 20px);
					height: 300px;
					overflow: hidden;
					display: block;
					img{
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
						transition: all 0.3s ease;
					}
					@media screen and (min-width: 1400px){
						height: 340px;
						@media screen and (min-width: 1600px) {
							height: 380px;
						}
					}
				}//event-img
				&:hover{
					background-color: white;
					color: $blue;
					.event-text{
						.event-info{
							.arrow{
								line,polyline{
									stroke: $blue;
								}
							}
						}
					}
					.event-img{
						img{
							transform: scale(1.1);
						}
					}	
				}
				@media screen and (min-width: 500px) {
					width: 49%;
					@media screen and (min-width: 992px){
						width: 24%;
						@media screen and (min-width: 1600px){
							border-width: 7px;
						}
					}
				}
			}//event
			@media screen and (min-width: 500px){
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
			}
		}//frame
		@media screen and (min-width: 1200px){
			padding: 60px 0;
		}
	}//evnet-overview
	.event-detail{
		display: none;
		padding: 40px 0;
		.frame{
			.event{
				padding: 10px;
				border: 5px solid white;
				margin-bottom: 20px;
				position: relative;
				cursor: pointer;
				.event-name{
					font-size: 22px;
				}
				.event-date{
					display: flex;
					font-weight: 900;
					font-size: 32px;
					justify-content: flex-end;
					margin-top: 20px;
					.arrow{
						width: 50px;
						margin-left: 10px;
					}
					@media screen and (min-width: 992px){
						margin: 0;
					}
				}
				.event-content{
					display: none;
					.intro{
						p{
							a{
								color: $blue;
								text-decoration: underline;
								&:hover{
									text-decoration: none;
								}
							}
						}
					}
				}
				@media screen and (min-width: 992px){
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 10px 20px;
				}
				&:hover{
					background-color: white;
					color: $blue;
					.arrow{
						.arrow-head,.arrow-body{
							stroke: $blue;
						}
					}
				}
			}
			.event.expand{
				background-color: white;
				cursor: auto;
				.event-name{
					font-size: 32px;
					color: $blue;
					font-weight: 700;
					padding-right: 40px;
					@media screen and (min-width: 1400px) {
						font-size: 48px;
					}
				}
				.event-date{
					display: none;
				}
				.event-content{
					display: block;
					margin-top: 20px;
					.close-btn{
						width: 40px;
						position: absolute;
						right: 10px;
						top: 10px;
						cursor: pointer;
						transition: all 0.3s ease;
						img{
							width: 100%;
						}
						&:hover{
							transform: rotate(90deg);
						}
					}
					@media screen and (min-width: 992px){
						display: flex;
					}
				}
				@media screen and (min-width: 992px){
					padding: 20px;
					display: block;
				}
			}
			#event_prescreening{
				.event-content{
					.map{
						width: 100%;
						height: 50vw;
						@media screen and (min-width: 992px) {
							width: 250px;
							height: 250px;
							flex: none;
						}
					}
					.intro{
						color: black;
						margin-top: 20px;
						p{
							margin-bottom: 20px;
						}
						@media screen and (min-width: 992px){
							margin-top: 0;
							padding: 0 40px;
						}
					}
				}//event-content
			}//#event_prescreening
			#event_opening{
				.event-content{	
					.poster{
						width: 100%;
						height: 50vw;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						@media screen and (min-width: 992px) {
							width: 250px;
							height: 250px;
							flex: none;
						}
					}
					.intro{
						color: black;
						margin-top: 20px;
						p{
							margin-bottom: 20px;
						}
						@media screen and (min-width: 992px){
							margin-top: 0;
							padding: 0 40px;
						}
					}
				}
			}//event_oprning
			#event_forum{
				.event-content{
					.speaker-wrap{
						.speaker{
							margin-bottom: 20px;
							.photo{
								width: 250px;
								height: 250px;
								img{
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
							.name{
								font-size: 20px;
								font-weight: 900;
								color: black;
								margin-top: 10px;
							}
						}
					}//speaker-wrap
					.intro{
						color: black;
						margin-top: 20px;
						p{
							margin-bottom: 20px;
						}
						.button-wrap{
							padding: 10px 0;
							margin: 20px 0;
							.button{
								border: 1px solid black;
								font-size: 18px;
								font-weight: 700;
								color: black;
								padding: 10px 15px;
								&:hover{
									background-color: black;
									color: white;
								}
							}
						}
						@media screen and (min-width: 768px){
							margin-top: 0;
							padding: 0 40px;
						}
					}//intro
				}//event-content
				&.expand{
					.event-content{
						@media screen and (min-width: 768px) {
							display: flex;
						}
					}
				}
			}//#event_forum
			#event_director{
				.event-content{
					.director{
						margin-bottom: 30px;
						.photo{
							width: 250px;
							height: 250px;
							flex: none;
							img{
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
						.intro{
							color: black;
							margin-top: 20px;
							.name{
								font-size: 24px;
								font-weight: 700;
								margin-bottom: 10px;
							}
							p{
								a{
									color: $blue;
									text-decoration: underline;
									&:hover{
										text-decoration: none;
									}
								}
							}
							@media screen and (min-width: 992px){
								margin-top: 0;
								padding: 0 40px;
								display: flex;
								flex-direction: column;
								justify-content: center;
							}
						}
						.button-wrap{
							padding: 10px 0;
							margin-top: 20px;
							.button{
								border: 1px solid black;
								font-size: 18px;
								font-weight: 700;
								color: black;
								padding: 10px 15px;
								&:hover{
									background-color: black;
									color: white;
								}
							}
						}
						@media screen and (min-width: 992px) {
							display: flex;
						}
					}
				}//.event-content
				&.expand{
					.event-content{
						@media screen and (min-width: 992px) {
							display: block;
						}
					}
				}
			}//#event_director
		}
		@media screen and (min-width: 1200px){
			padding: 60px 0;
		}
	}//event-detail
}//#page_events

#page_about{
	.content-wrap{
		.submenu{
			padding: 30px 0 10px 0;
			.menu-item{
				color: white;
				display: block;
				padding: 5px;
				padding-left: 15px;
				border-left: 15px solid white;
				font-size: 20;
				font-weight: 900;
				margin-bottom: 10px;
				&.active{
					color: $yellow;
					border-color: $yellow;
				}
				@media screen and (min-width: 992px) {
					margin-bottom: 25px;
				}
			}
		}//submenu
		.panel{
			background-color: white;
			padding: 10px;
			color: black;
			margin-bottom: 40px;
			.panel-content{
				.title{
					color: $blue;
					font-size: 38px;
					font-weight: 900;
				}
				.intro{
					margin-top: 10px;
					p{
						margin-bottom: 10px;
						line-height: 1.3em;
					}
					@media screen and (min-width: 992px){
						margin-top: 20px;
					}
				}
				.team-members{
					margin-top: 20px;
					text-align: center;
					.member{
						margin-bottom: 30px;
						.photo{
							width: 155px;
							height: 155px;
							margin: auto;
							margin-bottom: 10px;
							overflow: hidden;
							img{
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
							@media screen and (min-width: 1600px){
								width: 200px;
								height: 200px;
							}
						}
						.position{
							font-size: 14px;
						}
						.name{
							font-size: 16px;
							font-weight: 700;
							margin-top: 5px;
						}
						.link{
							text-align: center;
							margin-top: 5px;
							a{
								color: #989898;
								text-decoration: underline;
								font-size: 12px;
							}
						}
						@media screen and (min-width: 568px) {
							width: calc(50% - 5px);
							@media screen and (min-width: 768px) {
								width: calc((100% - 40px)/3);
								@media screen and (min-width: 992px){
									width: calc(100% / 3);
									@media screen and (min-width: 1400px){
										width: 25%;
									}
								}
							}
						}
					}//member
					@media screen and (min-width: 568px) {
						display: flex;
						flex-wrap: wrap;
						@media screen and (min-width: 768px){
							margin: auto;
							margin-top: 20px;
							@media screen and (min-width: 1200px) {
								margin-top: 30px;
							}
						}
					}
				}//team-members
				&#TFFB{
					@media screen and (min-width: 1200px) {
						padding-bottom: 200px;
					}
				}
				&#impression{
					.team-members{
						.member{
							.photo{
								@media screen and (min-width: 1400px) {
									width: 220px;
									height: 220px;
								}
							}
							@media screen and (min-width: 1400px) {
								width: 33%;
							}
						}
					}	
					.contact{
						font-size: 18px;
						font-weight: 700;
						color: $blue;
						text-align: center;
						.button-wrap{
							margin-top: 20px;
							padding: 10px 0;
							margin-bottom: 30px;
							.button{
								border: 3px solid $blue;
								padding: 10px;
								color: $blue;
								font-size: 14px;
								.icon{
									font-size: 24px;
									i{
										transform: translateY(5px);
										@media screen and (min-width: 1200px){
											transform: translateY(7px);
										}
									}
									@media screen and (min-width: 1200px){
										font-size: 32px;
									}
								}
								.text{
									margin-left: 10px;
								}
								&:hover{
									background-color: $blue;
									color: white;
								}
								@media screen and (min-width: 1200px){
									padding: 14px 20px;
									font-size: 18px;
								}
							}//button
						}
						@media screen and (min-width: 768px) {
							margin-top: 30px;
						}
					}//contact
				}//#impression
			}//panel-content
			@media screen and (min-width: 768px) {
				padding: 40px;
				@media screen and (min-width: 992px){
					width: 610px;
					@media screen and (min-width: 1200px) {
						width: 720px;
						@media screen and (min-width: 1400px){
							width: 840px;
							@media screen and (min-width: 1600px) {
								width: 1030px;
							}
						}
					}
				}
			}
		}//panel
		@media screen and (min-width: 992px){
			display: flex;
			padding: 60px 0 40px 0;
			justify-content: space-between;
		}
	}//content-wrap
}